@import "../../variables.scss";

.nav {
  &_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px;
    height: 80px;
    align-items: center;
    background-color: rgb(63, 57, 57);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
  &_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $primary-color;

    a {
      margin: 0 20px;
      color: $primary-color;
      font-size: large;
    }
  }
}

.navbar_logo {
  height: 40px;
}

.homepage_logo {
  font-size: 35px;
  a {
    color: $primary-color;
  }
}
